*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gotham';
    src: url(./assets/fonts/FontsFree-Net-gotham-ultra.ttf);
}
.min-height {
    min-height: 70vh;
}

/* Sección administración */
.bg{
    background-color: #36504f;
}



/* Sección footer */
.footer-clase{
    background-color: #36504F;
    color: white;
    bottom: 0;
    width: 100%;
}

.redes{
    text-decoration: none;
    color: white;
}