:root{
  --verdeOsc: #36504F;
  --verdeM: #5E8886;
  --verdeC: #88B4B2;
  --salmon: #fdc9a6;

}
.inicioBackground{
  width: 100vw;
  background-color: #36504f98;
  
}
#botonPedStick{
    position: fixed;
    bottom: 30px;
   right: 20px;
}
#botonPedStick img{
    width: 60px;
    height: 60px;
    
}
  /*-----------Estilo cards Categorias----------------*/
  .cardLink{
    text-decoration: none;
    color: var(--verdeOsc);
    text-align: center;
  
  }

  .cardLink h5{
    font-weight: 700;
  }

  .cardCateg{
    border-radius:5%;
    width: 80vw;
  }
.contImgC{
  background: linear-gradient(to right top, var(--salmon), var(--verdeM), #fcc098, var(--verdeOsc), #2d142c);
  border-radius: 5%;
}
.imgC{
  padding: 5px;
  border-radius: 6%;
}
/*-----------Estilo cards menu----------------*/
.botonAgr{
  background-color: var(--verdeOsc);
  color: white;
  border:none;

}
.botonAgrBa{
  color:#ce3000;
  background-color: white;
  border:none;
  
}
.wrapper{
    height: 400px;
    width: 300px;
    position: relative;
    transform-style: preserve-3d;
   perspective: 1000px;
  }
  .wrapper .card{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    transform: translateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
  }
  .wrapper:hover > .front-face{
    transform: rotateY(-180deg);
  }
  .wrapper .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .wrapper .back-face{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
    background-color: #ce3000;
    color: white;
  }
  .wrapper:hover > .back-face{
    transform: rotateY(0deg);
  }
  .wrapper .back-face img{
    height: 120px;
    width: 200px;
    padding: 3px;
    margin-top: 10px;
    border-radius: 20%;
    background: linear-gradient(to right top, #612700, #df4406, #e75318, #690902, #2d142c);
  }
  .wrapper .back-face .info, .precioyBot{
    text-align: center;
  }
  .back-face .info .title{
    font-size: 18px;
    font-weight: 500;
  }
  
  

